.detailsProgram {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.messageNoActivities {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
}

.detailsStatesActivities {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.detailsCandidates {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.programTitle {
  display: flex;
  padding-top: 1em;
}

.programDatesTitle {
  display: flex;
  padding-left: .5em;
  flex-direction: column;
}